snippet fun "closure" i
function ($1) {
	$2
}
endsnippet

snippet ar
'$1' => '$2',
endsnippet

snippet cu "function() use () {" i
 use ($1)
endsnippet

snippet t. "$this->" i
$this->$1
endsnippet

snippet tm "$this->method();" i
$this->${1:info}($2);
endsnippet

snippet cl
console.log($1);
endsnippet

snippet ma
public function get$1Attribute()
{
	$2
	return $3;
}
endsnippet

snippet lf
elseif ($1) {
	$2
}
endsnippet
