root = true

[*]
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true
#max_line_length = 80

[.vimrc]
indent_style = space
indent_size = 2

[*.snippets]
trim_trailing_whitespace = false

[*.md]
trim_trailing_whitespace = false

[.vimrc]
trim_trailing_whitespace = false
