#!/bin/bash
shopt -s expand_aliases
source ${shell_dir}/aliases.sh
tags="$(pwd)/.tags"
export f=$tags
for dir in $(cat <<EOF
app
config
database
vendor/encore/laravel-admin
vendor/laravel
EOF
); do
  cd $dir
  stpl php_ctags | sh
  cd - 1>/dev/null
done
echo 'done'
